.navpanel{
    padding: 10px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}

.navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0 0 0 50px;
    font-size: 25px;
}

.navlinks li a:hover{
    color:#ff7f2a;
}

li, a{
    font-weight: 500;
    text-decoration: none;
}

.height-prop{
    height: 70%;
}

img{
    height: 100%;
}