.Container {
    position: relative;
    height: 100vh;
}

.Article{
    padding: 4rem;
    width: 100%;
    background-image: linear-gradient(90deg, #ff6600, #ffccaa);
}

.flexbox{
    display: block;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.imgbox{
    position: relative;
    width: 890px;
    height: 30rem;
    background-color: #faddad;
}

.img{
    height:400p;
}

.title{
    color: white;
    font-size: 32pt;
}

.info{
    text-align: justify;
    color: white;
    font-size: 14pt;
}

#mountain{
    position: absolute;
    height: 240px;
    width: 400px;
    top: 82px;
    left: 220px;
}

#right{
    position: absolute;
    height: 230px;
    width: 245px;
    right: 240px;
    bottom: 115px;
}

#left{
    position: absolute;
    height: 180px;
    width: 340px;
    left: 230px;
    bottom: 95px;
}

#shock{
    transform-origin: center center;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 310px;
    bottom: 140px;
}

.imgbox:hover > #right{
    transform: translateY(-10px);
}

.imgbox:hover > #left{
    transform: translateY(10px);
}

.imgbox:hover > #shock{
    transform: scale(4);
}