.info{
    height: 50%;
    margin: 3rem;
    padding: 2rem;
    border: 0.8rem solid #FF5900;
}

.pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 1rem;
    border: 0.8rem solid #FF5900;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4c4c4;
    border-radius: 2rem;
    margin: 2rem;
}

button{
    background-color:#FF5900;
    border-radius: 10px;
    padding: 0.5rem;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}

.shakemap{
    display: block;
    height: 400px;
}

.list{
    padding: 1rem;
}